html {
    background-color: black;
    color: white;
    font-size: 16px;
}
nav {
   background-color: black;
    color: #007BFF;
    font-size: 1.5em;
}
p {
    font-family: serif;
    font-weight: bold;
    font-size: 1.2rem;
}
