body {
    background-color:#000000;
    color:#FFFFFF;
    font-size: 16px;
    font-family: arial, sans-serif;
}

#main-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.highlight {
    color: #FFD700;
    font-weight: bold;
}
nav a {
    color: #66B2FF;
    font-size: 1.2rem;
}
article {
    border: 2px solid #FFFFFF;
    margin: 1rem;
}